{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>{{task.title}}</h1>
        <button><a href="{{ path('tasks_list') }}">Back to list</a> </button>
        <ul>
            <li>{{task.title}}</li>
            <li>{{task.done ? 'true' : 'false'}}</li>

                <button>
                    <a href="{{ path('delete_task', {'id': task.id}) }}">Delete</a>
                </button>
                <button>
                    <a href="{{ path('update_task', {'id': task.id}) }}">Update</a>
                </button>

        </ul>
    </div>
{% endblock %}
